/tool/target/
/pack/target/
api/target/
impl/completed.pdf
impl/target/
model/target/
mock-impl/target/
/mock-pack/target/
.idea
.project
.classpath
.settings
*.iml
*.swp
*.orig
*.rej
target
impl/completed.pdf
