.certPager {
    text-align: center;
}

.certPager input {
    margin: 0 !important;
}

.colCertificate {
    border-right: 0 !important;
}

.colActions {
    border-left: 0 !important;
}

.colMin {
    width: 1px;
}

#newCriteriaForm {
    background: none repeat scroll 0 0 #eeeeee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

#newCriteriaForm h4:first-child {
    margin-top: 0;
}

.form-required label:after {
    content: "*";
    color: #c77070;
    position: relative;
    top: 3px;
}

#cList .instruction {
    margin: 0;
}

.mimetype {
    font-size: xx-small;
}

.not-met-criterion {
    color: red;
}
