<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true" >

    <context:component-scan base-package="org.sakaiproject.certification.tool"/>

    <bean id="messageSource"
          class="org.sakaiproject.util.ResourceLoaderMessageSource">
        <property name="basename" value="org.sakaiproject.certification.tool.Messages" />
    </bean>

    <bean id="localeResolver" class="org.sakaiproject.certification.tool.util.SakaiLocaleResolver"/>

     <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
         <property name="exceptionMappings">
             <props>
             </props>
         </property>
     </bean>

     <bean id="errorController" class="org.springframework.web.servlet.mvc.UrlFilenameViewController"/>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="10000000"/>
    </bean>

    <bean id="handlerMapping" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <property name="interceptors">
            <list>
                <!-- puts 'sakai_skin' into request as an attribute -->
                <bean class="org.sakaiproject.certification.tool.util.SakaiStyleSheetInterceptor">
                    <property name="siteService"><ref bean="org.sakaiproject.site.api.SiteService"/></property>
                    <property name="toolManager"><ref bean="org.sakaiproject.tool.api.ToolManager"/></property>
                </bean>

                <!-- puts 'locale' into request as an attribute -->
                <bean class="org.sakaiproject.certification.tool.util.LocaleHandlerInterceptor">
                    <property name="messageSource" ref="messageSource"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="viewResolver"
          class="org.sakaiproject.certification.tool.util.SakaiInternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

</beans>
